- if user_signed_in?
  = "#{current_user.account_name}さんでログイン中"
  = link_to new_articles_path do
    = "ツイート作成ページへ"
- else
  = "ログインしていません"
  %br/
  = link_to new_user_registration_path do
    ="ユーザー登録ページへ"
  %br/

.title
  - Article.all.each do |article|
    = article.tweet
    %br/