<div class="wrapper">
  <%= render "layouts/sidebar"%>
  <div class="main-wrapper">
    <div class="main-box">
      <span class="index-title">ホーム</span>
    </div>
    <% if user_signed_in? %>
      <div class="main-box">
        <%= form_with model: @article, url: articles_path do |f| %>
          <div class="tweet-box">
              <div class="tweet-box-top">
                <%= image_tag "user_icon.png", alt: "image", class: "user-icon"%>
                <%= f.text_area :tweet, placeholder: "いまどうしてる？"%>
              </div>
              <div class="tweet-box-bottom">
                <%= f.submit "ツイートする"%>
              </div>
          </div>
        <% end %>
      </div>
      <% Article.all.order(created_at: "DESC").each do |article| %>
        <% if Follow.find_by(following_id: article.user.id ,followed_by_id: current_user.id) != nil || article.user.id == current_user.id %>
          <div class="main-box">
            <div class="tweet-viewbox">
                <div class="tweet-box-left">
                  <%= image_tag "user_icon.png", alt: "image", class: "user-icon"%>
                </div>
                <div class="tweet-box-right">
                  <div class="tweet-box-right-top">
                    <%= link_to user_path(article.user.id), class: "user-box" do %>
                      <span class="user-name"><%= "#{article.user.account_name}" %></span>
                      <span class="user-id"><%= "@#{article.user.account_id}" %></span>
                    <% end %>
                    <time datetime="<%= article.created_at %>">
                      <span class="dot">･</span>
                      <%= time_ago_in_words(article.created_at) %>
                    </time>
                  </div>
                  <div class="tweet-box-right-middle">
                    <%= article.tweet %>
                  </div>
                  <div class="tweet-box-right-bottom">
                    <span action="<%= create_like_article_path(article) %>" class="like" id="article<%= article.id%>">
                      <% if article.likes.find_by(user_id: current_user.id) != nil %>
                        <i class="fas fa-heart"></i><%= article.likes.count %>
                      <% else %>
                        <i class="far fa-heart"></i><%= article.likes.count %>
                      <% end %>
                    </span>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>

    <% end %>
  </div>
</div>