<%= "#{@user.account_name}さんのマイページ"%><br>

<% Article.where(user_id: @user.id).each do |article| %>
  <div class="title">
    <%= "#{article.user.account_name}(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
    <%= article.tweet %>
    <span action="<%= create_like_article_path(article) %>" class="like <% if article.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="article<%= article.id%>" style="color:blue">いいね！<%= article.likes.count %></span>
    <br>
  </div>
<% end %>

<%= link_to "トップページに戻る",root_path %>